<div class="sobre">
  <div class="sobre-top">
    <div class="sobre-image" data-anime="left">
      <img
        src="../../../assets/images/jpg/IMG_3366.jpeg"
        alt="foto sobre eduardo"
      />
    </div>
    <div class="sobre-texto" data-anime="rigth">
      <h2>Sobre</h2>
      <p>
        Acredito no poder transformador da educação. Tive a oportunidade de
        concluir meu curso superior de
        <b>Bacharel em Sistemas de Informação</b>, uma experiência que alterou
        minha realidade social e econômica, proporcionando recursos para
        aprimorar meus estudos. Inspirado por isso, me dedico quase que
        diáriamente aos meus estudos.
      </p>
      <p>
        Atualmente curso <b>Pós‑Graduação em Arquitetura de Software e Soluções com IA</b> pela XP Educação.
      </p>
      <p>
        Ao longo de mais de 7 anos, focando no desenvolvimento de software.
        Sinto verdadeira paixão pelo que faço. Busco influenciar e motivar
        pessoas nesse caminho difícil e contínuo, mas se dedicando, abre um
        mundo de possibilidades!
      </p>
    </div>
  </div>
  <div class="sobre-perfil">
    <div data-anime="down">
      <h3>
        <i class="fa-solid fa-code"></i>
        Desenvolvedor Sênior
      </h3>
      <p>
        Atualmente alocado como Desenvolvedor Sênior pela HyTI em São Paulo, atuando em
        projetos legado, desenvolvimento, melhorias e novas features.
      </p>
      <h4>
        <i class="fa-solid fa-graduation-cap"></i>
        Formação Acadêmica
      </h4>
      <div class="formacao-academica">
        <ul>
          <li>
            <i class="fa-solid fa-check-square"></i>
            <strong>Pós-Graduando em Arquitetura de Software e Soluções com Inteligência Artificial</strong>
            <span> - XP Educação</span>
          </li>
          <li>
            <i class="fa-solid fa-check-square"></i>
            <strong>Graduação em Análise e Desenvolvimento de Sistemas</strong>
            <span> - FTC União Salvador</span>
          </li>
        </ul>
      </div>
      <h4>
        <i class="fa-solid fa-circle-info"></i>
        Mais informações
      </h4>
    </div>
    <div class="sobre-mais-informacoes">
      <div class="sobre-left" data-anime="left">
        <ul>
          <li>
            <i class="fa-solid fa-check-square"></i> Niver:
            <span>27 de fevereiro</span>
          </li>
          <li>
            <i class="fa-solid fa-check-square"></i> Idade:
            {{ calcularIdade() }} anos
          </li>
          <li><i class="fa-solid fa-check-square"></i> Cidade: Salvador</li>
          <li><i class="fa-solid fa-check-square"></i> Estado: Bahia</li>
        </ul>
      </div>
      <div class="sobre-rigth" data-anime="rigth">
        <ul>
          <li>
            <i class="fa-solid fa-check-square"></i>
            Hobby:
            <span>
              Futebol... Esporte Clube Bahia #BBMP
              <i class="fa-solid fa-heart heart-blue"></i>
              <i class="fa-solid fa-heart heart-red"></i>
              <i class="fa-solid fa-heart heart-white"></i>
            </span>
          </li>
          <li>
            <i class="fa-solid fa-check-square"></i>
            Site:
            <a
              href="https://portifolio.dev-ebarros.com.br/"
              target="_blank"
              class="fw-lighter text-decoration-none link-dark"
              rel="noopener"
              >links.ebdeveloper</a
            >
          </li>
          <li>
            <i class="fa-solid fa-check-square"></i> Experiência:
            {{ calcularExperiencia() }} anos Dev in C#
          </li>
          <li>
            <i class="fa-solid fa-check-square"></i> Estado Civil: Divorciado
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
