<div class="conatiner">
  <div class="print">
    <button
      class="btnPrint"
      (click)="printCurriculo('printCurriculo')"
      title="Imprimir"
    >
      Imprimir
    </button>
  </div>
  <div class="container-curriculo">
    <div id="printCurriculo" class="curriculo">
      <div class="body" *ngIf="data as d">
        <div class="heading">
          <h2>Curriculo</h2>
          <span class="heading-border" data-anime="rigth"></span>
        </div>
        <div data-anime="up">
          <h3>
            <i class="fa-brands fa-dev"></i>
            {{ d.objetivo.titulo }}
          </h3>
          <h4>{{ d.objetivo.descricao }}</h4>
        </div>
        <div>
          <h3>
            <i class="fa-solid fa-award"></i>
            Educação
          </h3>
          <ul>
            <li data-anime="up" *ngFor="let edu of d.educacao">
              <span class="titulo">Instituição:</span>
              <span> {{ edu.instituicao }}</span><br />
              <span class="titulo">Curso:</span>
              <span> {{ edu.curso }} </span><br />
              <span class="titulo">Local:</span>
              <span> {{ edu.local }}</span><br />
              <span class="titulo">Período:</span>
              <Span> {{ edu.periodo }}</Span>
            </li>
          </ul>
        </div>
        <div>
          <h3>
            <i class="fa-solid fa-user-tie"></i>
            Experiência Profissional
          </h3>
          <ul>
            <li data-anime="up" *ngFor="let exp of d.experiencias">
              <span class="titulo">Instituição:</span>
              <span>
                <a *ngIf="exp.link" [href]="exp.link" target="_blank" class="fw-lighter text-decoration-none link-dark" rel="noopener">
                  {{ exp.instituicao }}
                </a>
                <span *ngIf="!exp.link">{{ exp.instituicao }}</span>
                <br />
              </span>
              <span class="titulo">Cargo:</span>
              <span> {{ exp.cargo }}</span><br />
              <span class="titulo">Local:</span>
              <span> {{ exp.local }} </span> <br />
              <span class="titulo">Período:</span>
              <span> {{ exp.periodo }}</span><br />
              <span class="titulo">Descrição:</span>
              <span>
                {{ exp.descricao }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
